<!-- HTML PRINCIPAL -->
<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- Custom File CSS -->
    <%- include ('partials/head')%>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    <!-- Menu navbar arriba -->
    <%- include('partials/navigation') %>
    <!-- fin del navbar -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalnom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!-- TOASTS -->
        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastPers" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor seleccione un número de personas.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastSes" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor seleccione una sesión.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastNom" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese un nombre.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toasttlf" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese un número de teléfono válido.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastmail" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese una dirección de correo correcta.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastclase" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor seleccione una de las clases disponibles.
                </div>
            </div>
        </div>
        <!-- FIN TOASTS -->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reserva</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- pedir cita -->

                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <input type="text" class="bg-white form-control" id="dateholder" placeholder=""
                                readonly="readonly">
                        </div>
                        <div class="col-lg mb-3 mb-lg-0">
                            <select id="personasholder" class="form-select">
                                <option selected disabled>Personas</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="col-lg mb-3 mb-lg-0">
                            <select id="sesionholder" class="form-select">
                                <option selected disabled>Sesion</option>
                                <option value="1">Pública</option>
                                <option value="2">Privada</option>
                            </select>
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="recipientininom"
                                onkeydown="return /^[a-zA-ZäöüßÄÖÜáéíóúÁÉÍÓÚ]/.test(event.key)">
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Tlfno:</label>
                            <input type="text" class="form-control" id="recipienttlfn" maxlength="9"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Correo:</label>
                            <input type="text" class="form-control" id="recipientemail">
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckUno">
                                <label class="form-check-label" for="flexCheckUno">
                                    Ramo Parisino
                                </label>
                            </div>
                        </div>
                        <div class="col-lg mb-3 mb-lg-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDos">
                                <label class="form-check-label" for="flexCheckDos">
                                    Árbol tropical
                                </label>
                            </div>
                        </div>
                        <div class="col-lg mb-3 mb-lg-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckTres">
                                <label class="form-check-label" for="flexCheckTres">
                                    Ramo Corazón
                                </label>
                            </div>
                        </div>
                    </form>

                    <!-- Pedir cita fin -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="main-btn mt-4" onclick="validarReserva()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalContacto" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <!-- TOASTS -->

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastMsj" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese un mensaje.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastAsun" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese asunto.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastNomCon" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese un nombre.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toasttlfCon" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese un número de teléfono válido.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastmailCon" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor ingrese una dirección de correo correcta.
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 end-0 p-3" style="z-index: 10000">
            <div id="toastclase" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">ERROR</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Por favor seleccione una de las clases disponibles.
                </div>
            </div>
        </div>
        <!-- FIN TOASTS -->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contáctenos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- pedir cita -->

                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Asunto:</label>
                            <input type="text" class="form-control" id="asuntoContacto">
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Su mensaje:</label>
                            <textarea class="form-control" id="mensajeContacto" rows="3"></textarea>
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreContacto"
                                onkeydown="return /^[a-zA-ZäöüßÄÖÜáéíóúÁÉÍÓÚ]/.test(event.key)">
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Tlfno:</label>
                            <input type="text" class="form-control" id="recipienttlfnCon" maxlength="9"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                    </form>
                    <form class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                            <label for="recipient-name" class="col-form-label">Correo:</label>
                            <input type="text" class="form-control" id="recipientemailCon">
                        </div>
                    </form>

                    <!-- Pedir cita fin -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="main-btn mt-4" onclick="validarContacto()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal contactanos -->
    <!-- el banner -->
    <section id="home" class="banner_wrapper p-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(./img/slider/campo.jpg);">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>welcome to flowers for chuu</h1>
                            <p>TIENDA Y CURSOS DE FLORISTERIA</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url(./img/slider/clase.jpg);">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>welcome to flowers for chuu</h1>
                            <p>TIENDA Y CURSOS DE FLORISTERIA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- pedir cita -->

        <!-- Pedir cita fin -->
    </section>
    <!-- Banner fin -->

    <!-- About -->
    <section id="about" class="about_wrapper">
        <div class="container">
            <div class="row flex-lg-row flex-column-reverse ">
                <div class="col-lg-6 text-center text-lg-start">
                    <h3>Bienvenido a <span>la floristería <br class="d-none d-lg-block">
                            flowers</span> for chuu</h3>
                    <p>
                        En chuu podrás encontrar una amplia variedad de servicios para distintos eventos o uso
                        personal además de clases para aprender a manejar las flores y poder observar lo versátiles que
                        son.
                    </p>
                    <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem</p>
                    <a href="/leerMas" class="main-btn mt-4">Más</a>
                </div>
                <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                    <img src="img/tienda4.jpg" class="img-fluid" alt="About Us">
                </div>

            </div>
        </div>
    </section>
    <!-- About fin -->
    <section id="reservar" class="booking_wrapper">
        <div class="container booking-area">
            <div class="row ">
                <div class="col">
                    <h3><span>Reserva</span> tu clase</h3>
                </div>

            </div>
            <form class="row">
                <div class="col-lg mb-3 mb-lg-0">
                    <input type="text" class="bg-white form-control" id="date" placeholder="" readonly="readonly">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <select id="personas" class="form-select">
                        <option selected disabled>Personas</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <select id="sesion" class="form-select">
                        <option selected disabled>Sesion</option>
                        <option value="1">Pública</option>
                        <option value="2">Privada</option>
                    </select>
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <button type="button" class="main-btn rounded-2 px-lg-3" data-bs-toggle="modal"
                        data-bs-target="#exampleModalnom" onclick="recogerDatos()">disponibilidad</button>
                </div>
            </form>
        </div>
    </section>
    <!-- Cursos -->
    <section id="cursos" class="cursos_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Cursos</h6>
                    <h3>Vuestros favoritos</h3>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-4 mb-4 mb-lg-0">
                    <div class="curso-item">
                        <img src="img/cursos/ramo2.jpg" class="img-fluid">
                        <div class="curso-item-wrap">
                            <div class="curso-content">
                                <!-- si el texto es mas largo o mas corto el hoover me va a quedar de distintos tamaños -> intentar que sean de una longitus parecida -->
                                <h5 class="text-white mb-lg-5 text-decoration-underline">Ramo Parisino</h5>
                                <p class="text-white">
                                    Aprende a confeccionar un ramo con colores claros y fríos con los
                                    que conseguirás obtener una sensación de tranquiliad
                                </p>
                                <p class="text-white fw-bold mt-lg-4">150€ / persona</p>
                                <a class="main-btn border-white text-white mt-lg-5" href="#reservar">Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-lg-0">
                    <div class="curso-item">
                        <img src="img/cursos/arbol2.jpg" class="img-fluid">
                        <div class="curso-item-wrap">
                            <div class="curso-content">
                                <h5 class="text-white mb-lg-5 text-decoration-underline">Árbol Tropical</h5>
                                <p class="text-white">
                                    ¿Quién dijo que las rosas no crecen de los árboles? Aprende a
                                    crear un pequeño arbolito con una variedad de flores cálidas
                                </p>
                                <p class="text-white fw-bold mt-lg-4">140€ / persona</p>
                                <a class="main-btn border-white text-white mt-lg-5" href="#reservar">Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-lg-0">
                    <div class="curso-item">
                        <img src="img/cursos/corazon2.jpg" class="img-fluid">
                        <div class="curso-item-wrap">
                            <div class="curso-content">
                                <h5 class="text-white mb-lg-5 text-decoration-underline">Ramo Corazón</h5>
                                <p class="text-white">
                                    Demuestra todo el amor que llevas dentro con este precioso ramo en
                                    forma de corazón de colores rosados y pálidos blacos
                                </p>
                                <p class="text-white fw-bold mt-lg-4">195€ / persona</p>
                                <a class="main-btn border-white text-white mt-lg-5" href="#reservar">Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cursos fin -->

    <!-- Servicios -->
    <section id="servicios" class="servicios_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Estamos aqui para ti</h6>
                    <h3>Nuestros Servicios</h3>
                </div>
            </div>
            <div class="row align-items-center servicio-item-wrap">
                <div class="col-lg-7 p-lg-0">
                    <!--Imagenes-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="sesion" role="tabpanel">
                            <img src="img/servicios/niño6.png" alt="">
                        </div>
                        <div class="tab-pane fade" id="ramo" role="tabpanel">
                            <img src="img/servicios/ramoser3.png" alt="">
                        </div>
                        <div class="tab-pane fade" id="silla" role="tabpanel">
                            <img src="img/servicios/sillaser3.png" alt="">
                        </div>
                        <div class="tab-pane fade" id="mesa" role="tabpanel">
                            <img src="img/servicios/mesaser3.png" alt="">
                        </div>
                    </div>
                    <!--Imagenes fin-->
                </div>
                <div class="col-lg-5 position-relative">
                    <!--Textos(links con tabs)-->
                    <div class="servicio-menu-area">
                        <ul class="nav">
                            <li>
                                <a data-bs-toggle="tab" href="#sesion" class="active">
                                    <span class="servicio-icon">
                                        <i class="fa-solid fa-camera fa-lg" style="color:#f2efe4;"></i>
                                    </span>
                                    <h5>Sessiones Fotográficas</h5>
                                    <p><span>Fotografía </span>luptatem quia voluptas sit aspernatur aut odit aut
                                        fugit, sed quia </p>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#ramo">
                                    <span class="servicio-icon">
                                        <i class="fa-solid fa-spa fa-lg" style="color:#f2efe4;"></i>
                                    </span>
                                    <h5>Ramos</h5>
                                    <p><span>Ramos</span> lup provide grro tatem quia voluptas sit aspernatur aut
                                        odit aut fugit, </p>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#silla">
                                    <span class="servicio-icon">
                                        <i class="fa-solid fa-chair fa-lg" style="color:#f2efe4;"></i>
                                    </span>
                                    <h5>Asientos</h5>
                                    <p><span>Asientos</span> pool luptatem quia voluptas sit aspernatur aut odit aut
                                        fugit, sed quia </p>
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#mesa">
                                    <span class="servicio-icon">
                                        <i class="fa-solid fa-seedling fa-lg" style="color:#f2efe4;"></i>
                                    </span>
                                    <h5>Sobremesa</h5>
                                    <p><span>Mesa</span> luptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--Textos(links con tabs) fin-->
                </div>
            </div>
        </div>

        <!-- Contador -->
        <div class="counter mt-5">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h1>
                            <span id="count1"></span>+
                        </h1>
                        <p>Bodas</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h1>
                            <span id="count2"></span>+
                            </h2>
                            <p>Conferencias</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h1>
                            <span id="count3"></span>+
                            </h2>
                            <p>Exposiciones</p>
                    </div>
                    <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                        <h1>
                            <span id="count4"></span>+
                            </h2>
                            <p>Sesiones Fotográficas</p>
                    </div>
                </div>
            </div>
            <!-- Contador fin -->
        </div>
    </section>
    <!-- Servicios fin -->

    <!-- Plantilla -->
    <section id="plantilla" class="plantilla_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>¿Qué podemos hacer por ti?</h6>
                    <h3>Nuestra Plantilla</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-0 rounded-3">
                        <img src="img/plantilla/eunwoo2.jpg" class="img-fluid rounded-3" />
                        <div class="plantilla-info">
                            <h5>Daniel García</h5>
                            <p>Profesor</p>
                            <ul class="social-network">
                                <li><a href="https://www.facebook.com/offclASTRO"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/offclASTRO"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-0 rounded-3">
                        <img src="img/plantilla/joy2.jpg" class="img-fluid rounded-3" />
                        <div class="plantilla-info">
                            <h5>Yolanda Romero</h5>
                            <p>Profesora</p>
                            <ul class="social-network">
                                <li><a href="https://www.facebook.com/RedVelvet"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="https://twitter.com/RVsmtown"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-0 rounded-3">
                        <img src="img/plantilla/irene2.jpg" class="img-fluid rounded-3" />
                        <div class="plantilla-info">
                            <h5>Irene del Castillo</h5>
                            <p>Manager</p>
                            <ul class="social-network">
                                <li><a href="https://www.facebook.com/RedVelvet"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="https://twitter.com/RVsmtown"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card p-0 rounded-3">
                        <img src="img/plantilla/yeonjun2.jpg" class="img-fluid rounded-3" />
                        <div class="plantilla-info">
                            <h5>Hugo López</h5>
                            <p>Profesor</p>
                            <ul class="social-network">
                                <li><a href="https://www.facebook.com/TXT.bighit"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="https://twitter.com/TXT_bighit"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Plantilla fin  -->

    <!-- Galeria -->
    <section id="galeria" class="galeria_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Algunos de nuestros trabajos</h6>
                    <h3>Galería</h3>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-3 col-md-6 galeria-item">
                    <img src="img/galeria/cesta2.jpg" class="img-fluid w-100">
                    <div class="galeria-item-content"></div>
                </div>
                <div class="col-lg-3 col-md-6 galeria-item">
                    <img src="img/galeria/arbolrosa2.jpg" class="img-fluid w-100">
                    <div class="galeria-item-content"></div>
                </div>
                <div class="col-lg-3 col-md-6 galeria-item">
                    <img src="img/galeria/ramoverde2.jpg" class="img-fluid w-100">
                    <div class="galeria-item-content"></div>
                </div>
                <div class="col-lg-3 col-md-6 galeria-item">
                    <img src="img/galeria/caida2.jpg" class="img-fluid w-100">
                    <div class="galeria-item-content"></div>
                </div>
                <div class="col-md-6 galeria-item">
                    <img src="img/galeria/jarrones2.jpg" class="img-fluid w-100">
                    <div class="galeria-item-content"> </div>
                </div>
                <div class="col-md-6 galeria-item">
                    <img src="img/galeria/suelo2.jpg" class="img-fluid w-100">
                    <div class="galeria-item-content"> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Galeria fin -->

    <!-- Ventas -->
    <section id="ventas" class="ventas_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Nuestras ofertas establecidas</h6>
                    <h3>Servicios Económicos</h3>
                </div>
            </div>
            <div id="contenedor-ventas" class="row">
            </div>
        </div>
    </section>
    <!-- Ventas fin  -->

    <!-- Modal ventas -->
    <div class="modal fade" id="modalVentas" aria-labelledby="exampleModalLabel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mi carrito</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="cestaProductos" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="main-btn mt-4" id="vaciarCarrito">
                        Vaciar carrito
                    </button>
                    <button type="button" id="procesarCompra" class="main-btn mt-4">
                        Tramitar pedido
                    </button>
                    <span>Total:</span>
                    <p class="text-center" id="precioTotal"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal ventas -->

    <!-- Blog -->
    <section id="blog" class="blog_wrapper pb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Información</h6>
                    <h3>Sobre nosotros</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <img src="img/blog/libro2.jpg" alt="" />
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">Libro</h5>
                            <h6>By Chuu - 18 Febrero, 2021</h6>
                            <p class="mt-2">Nuestro libro con el qe podrás llevarte todo el conocimiento a tu propia
                                casa. </p>
                            <a href="/leerMas" class="main-btn mt-2">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <img src="img/blog/clases2.jpg" alt="">
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">Clases</h5>
                            <h6>By Chuu - 8 Marzo, 2022</h6>
                            <p class="mt-2">Información detallada de nuestras clases y experienciasm del cliente.
                            </p>
                            <a href="/leerMas" class="main-btn mt-2">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog fin -->

    <!-- Footer -->
    <!-- Utilizaremos plantillas que vienen definidas en la carpeta 'partials' -->
    <%- include('partials/footer') %>
</body>

</html>