<!-- HTML LEER MÁS -->
<!DOCTYPE html>
<html lang="es-ES">

<head>
    <%- include('partials/head') %>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    <!-- Menu navbar arriba -->
    <header class="header_wrapper">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="img/logo.png" class="img-fluid" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-stream navbar-toggler-icon"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav menu-navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cursos">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#plantilla">Plantilla</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#galeria">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ventas">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal2">Contacto</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0">
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalVentas"> Mi Cesta
                                <i class="fa-solid fa-cart-shopping" id="carritoContenedor">0</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- fin del navbar -->

    <section id="about" class="about_wrapper">
        <div class="container">
            <div class="row flex-lg-row flex-column-reverse ">
                <div class="col-lg-6 text-center text-lg-start">
                    <h3><span> <br class="d-none d-lg-block">flowers</span> for chuu</h3>
                    <p>
                        Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatemlorum luptatem quia voluptas sit aspernatur aut
                    </p>
                    <p>
                        Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem
                    </p>
                </div>
                <div class="col-lg-6 mb- mb-lg-0 ps-lg-4 text-center">
                    <img src="img/tienda4.jpg" class="img-fluid" alt="About Us">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 mt-5">
                    <div class="card p-0 border-0 rounded-0">
                        <img src="img/blog/libro2.jpg" alt="">
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">Libro</h5>
                            <h6>By Chuu - 18 Febrero, 2021</h6>
                            <p class="mt-2">lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia<p></p>
                            <p class="mt-2">lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5 text-lg-start">
                    <div class="row">
                        <div class="col">
                            <p>
                                Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni
                                dolores eos qui ratione voluptatem lorum luptatem quia voluptas
                            </p>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <p>
                                Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni dolores eos qui ratione voluptatem
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni
                                dolores eos qui ratione voluptatem
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>luptatem</h5>
                            <p><span>Mesa</span> luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia </p>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col ">
                            <p>
                                Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni
                                dolores eos qui ratione voluptatem lorum luptatem quia voluptas sit aspernatur aut odit
                                aut fugit, sed quia consequuntur magni
                                dolores eos qui ratione voluptate
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card p-0 rounded-3">
                                <img src="img/plantilla/eunwoo2.jpg" class="img-fluid rounded-3" />

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cursos -->
                <section id="cursos" class="cursos_wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 section-title text-center mb-5">
                                <h6>Cursos</h6>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-md-4 mb-4 mb-lg-0">
                                <div class="curso-item">
                                    <img src="./img/cursos/ramo2.jpg" class="img-fluid">
                                    <div class="curso-item-wrap">
                                        <div class="curso-content">
                                            <!-- si el texto es mas largo o mas corto el hoover me va a quedar de distintos tamaños -> intentar que sean de una longitus parecida -->
                                            <h5 class="text-white mb-lg-5 text-decoration-underline">Ramo Parisino</h5>
                                            <p class="text-white">
                                                Lorum luptatem quia voluptas sit aspernatur aut odit
                                                aut fugit, sed quia consequuntur magni
                                            </p>
                                            <p class="text-white fw-bold mt-lg-4">lorum luptatem quia voluptas sit aspernatur</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 mb-lg-0">
                                <div class="curso-item">
                                    <img src="./img/cursos/arbol2.jpg" class="img-fluid">
                                    <div class="curso-item-wrap">
                                        <div class="curso-content">
                                            <h5 class="text-white mb-lg-5 text-decoration-underline">Árbol Tropical</h5>
                                            <p class="text-white">
                                                Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                            </p>
                                            <p class="text-white fw-bold mt-lg-4">
                                                Lorum luptatem quia voluptas sit aspernatur
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 mb-lg-0">
                                <div class="curso-item">
                                    <img src="./img/cursos/corazon2.jpg" class="img-fluid">
                                    <div class="curso-item-wrap">
                                        <div class="curso-content">
                                            <h5 class="text-white mb-lg-5 text-decoration-underline">Ramo Corazón</h5>
                                            <p class="text-white">
                                                Lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                            </p>
                                            <p class="text-white fw-bold mt-lg-4">
                                                Lorum luptatem quia voluptas sit aspernatur
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-md-4 mb-4 mb-lg-0 mt-3">
                                <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                                <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                            </div>
                            <div class="col-md-4 mb-4 mb-lg-0 mt-3">
                                <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                                <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                            </div>
                            <div class="col-md-4 mb-4 mb-lg-0 mt-3">
                                <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                                <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Cursos fin -->
            </div>

        </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer') %>
        <!-- Footer fin-->

    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <!-- Scripts fin-->
</body>

</html>