<!-- Footer -->
<section id="contact" class="footer_wrapper mt-3 mt-md-0 pb-0">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h5>Localización de tienda</h5>
                <p class="ps-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim erat ut laoreet pharetra....</p>
                <div class="contact-info">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-home me-3"></i> Calle de la Galería de Robles, 4, Madrid</a></li>
                        <li><a href="#"><i class="fa fa-phone me-3"></i>+34 111 222 333</a></li>
                        <li><a href="#"><i class="fa fa-envelope me-3"></i>forchuu@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Mas Links</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Nuestra Tienda</a></li>
                    <li><a href="#">Libros</a></li>
                    <li><a href="#">Clases</a></li>
                    <li><a href="#">Garantía</a></li>
                    <li><a href="#">Política De Devolución</a></li>
                    <li><a href="#">Cursos</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Demo Links</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Nuestra Tienda</a></li>
                    <li><a href="#">Libros</a></li>
                    <li><a href="#">Clases</a></li>
                    <li><a href="#">Garantía</a></li>
                    <li><a href="#">Política De Devolución</a></li>
                    <li><a href="#">Cursos</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contacto</h5>
                <div class="form-group mb-4">
                        <button type="submit" class="main-btn rounded-2 mt-3 border-white text-white"
                            data-bs-toggle="modal" data-bs-target="#exampleModalContacto"
                            onclick="recogerDatos()">Contáctanos</button>
                </div>
                <h5>Conéctate</h5>
                <ul class="social-network d-flex align-items-center p-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright-section">
        <p>Copyright <a href="#">&copy;Flowers For Chuu</a> All Rights Reserved</p>
    </div>
</section>
<!-- Footer fin -->

<!-- Bootstrap JS Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- Carrousel JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Sweet Alert JS -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- js Links -->
<script src="js/main.js"></script>
<script src="js/carrito.js"></script>