<!-- Footer -->
<section id="contact" class="footer_wrapper mt-3 mt-md-0 pb-0">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h5>Localización de tienda</h5>
                <div class="contact-info">
                    <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-home me-3"></i>Calle de la Galería de Robles, 4, Madrid</a>
                            </li>
                        <li><a href="#"><i class="fa fa-phone me-3"></i>+34 111 222 333</a></li>
                        <li><a href="#"><i class="fa fa-envelope me-3"></i>forchuu@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Mas Links</h5>
                <ul class="link-widget p-0">
                        <li><a href="#about">Sobre Nosotros</a></li>
                        <li><a href="#cursos">Cursos</a></li>
                        <li><a href="#servicios">Servicios</a></li>
                        <li><a href="#plantilla">Plantilla</a></li>
                        <li><a href="#galeria">Galería</a></li>
                        <li><a href="#ventas">Ventas</a></li>
                        <li><a href="#reservar">Reservar</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                    <h5>Mi cuenta</h5>
                <ul class="link-widget p-0">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    <li><a href="#">Garantía</a></li>
                    <li><a href="#">Política De Devolución</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contacto</h5>
                <div class="form-group mb-4">
                        <button type="submit" class="main-btn rounded-2 mt-3 border-white text-white"
                            data-bs-toggle="modal" data-bs-target="#exampleModalContacto"
                            onclick="recogerDatos()">Contáctanos</button>
                </div>
                <h5>Conéctate</h5>
                <ul class="social-network d-flex align-items-center p-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright-section">
        <p>Copyright <a href="#">&copy;Flowers For Chuu</a> All Rights Reserved</p>
    </div>
    </section>
<!-- Footer fin -->